examples/n8n-workflow-template.json
{
    "name": "VidierApi - n8n Template",
    "nodes": [
        {
            "parameters": {
                "method": "POST",
                "url": "http://100.65.156.108:3002/api/render",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"image\": {\n    \"src\": \"{{ $json.imagen_url }}\",\n    \"effect\": \"kenburns\",\n    \"zoom\": 1.2\n  },\n  \"audio\": {\n    \"src\": \"{{ $json.audio_url }}\",\n    \"volume\": 0.7\n  },\n  \"config\": {\n    \"width\": 1280,\n    \"height\": 720,\n    \"fps\": 25,\n    \"preset\": \"fast\",\n    \"crf\": 28\n  }\n}",
                "options": {}
            },
            "id": "f110a6ec-31fe-430f-8405-58533c87067e",
            "name": "POST Render Job",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1168,
                2544
            ]
        },
        {
            "parameters": {
                "amount": 3,
                "unit": "seconds"
            },
            "id": "11899191-f248-4594-aee5-3293293855b3",
            "name": "Esperar Inicio",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1392,
                2544
            ],
            "webhookId": "wait-initial"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=http://100.65.156.108:3002/api/status/{{ $json.jobId }}",
                "options": {}
            },
            "id": "6cbcd2fe-004b-4505-bdc2-590ba56b64a9",
            "name": "GET Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1616,
                2544
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "condition-1",
                            "leftValue": "={{ $json.job.status }}",
                            "rightValue": "completed",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "2f9c5ed4-4704-41d6-b52f-09fb1ed599ed",
            "name": "¿Completado?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1840,
                2544
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=http://100.65.156.108:3002/api/download/{{ $json.job.id }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "id": "84a3e3fc-efd4-466f-ba3a-c8b70f8e9392",
            "name": "GET Download Video",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2048,
                2432
            ]
        },
        {
            "parameters": {
                "amount": 2,
                "unit": "seconds"
            },
            "id": "143195b3-b6d5-49e5-88f2-6aa87e3c7322",
            "name": "Esperar y Reintentar",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                2048,
                2640
            ],
            "webhookId": "wait-loop"
        }
    ],
    "connections": {
        "POST Render Job": {
            "main": [
                [
                    {
                        "node": "Esperar Inicio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Esperar Inicio": {
            "main": [
                [
                    {
                        "node": "GET Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GET Status": {
            "main": [
                [
                    {
                        "node": "¿Completado?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "¿Completado?": {
            "main": [
                [
                    {
                        "node": "GET Download Video",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Esperar y Reintentar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Esperar y Reintentar": {
            "main": [
                [
                    {
                        "node": "GET Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {}
}